{% extends "base.html" %}

{% block title %}Головна – GamingLibrary{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-12">
    <!-- Перший рядок -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 justify-items-center mb-16">
        {% include "table.html" with title="Most Played Games" games=most_played %}
        {% include "table.html" with title="Trending Games" games=trending %}
    </div>

    <!-- Другий рядок -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 justify-items-center">
        {% include "table.html" with title="Popular Releases" games=popular_releases %}
        {% include "table.html" with title="Hot Releases" games=hot_releases %}
    </div>
</div>
{% endblock %}